[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-machines-vs-machines-sfos
Exec=harbour-machines-vs-machines-sfos
Name=Machines vs Machines
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=machines-vs-machines-sfos
[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-machines-vs-machines-sfos
Permissions=UserDirs;RemovableMedia
